

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
  <div *ngFor="let brewery of breweries">
  <agm-marker [latitude]="brewery.lat" [longitude]="brewery.lng"  [iconUrl]='icon'>
    <agm-snazzy-info-window [maxWidth]="400"  [maxHeight]="400" [closeWhenOthersOpen]="true">
      <ng-template>
       <div>
        <img id="mainImg" src="{{uploadFolder + brewery.logoUrl}}">
       </div>
       <div>        {{brewery.name}}
        <fa-icon [icon]="faBeer"></fa-icon>


       </div>
       
       <div class="">
         <a href="{{brewery.website}}" target="_blank">
        <button class="w-100 " mat-raised-button color="primary">Website</button>
         </a>
         <a href="https://www.google.com/maps/place/{{brewery.address}}" target="_blank" >
        <br>
        <button class="w-100 p-0" mat-raised-button color="primary" style="padding-top: 10px">Directions</button>
         </a>
       </div>


       <a href="{{brewery.untapped}}" target="_blank" >
       <img id="iconImg"   src="https://cdn1.iconfinder.com/data/icons/square-logo-buttons/512/untappd-512.png">
        </a>
        <a href="{{brewery.beerAdvocate}}" target="_blank" >
       <img id="iconImg" src="https://cdn.beeradvocate.com/im/beeradvocate-logo-ref.png">
        </a>  








      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</div>

</agm-map>